# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [ ]:
import pandas as pd

# Step 1: Load the CSV file into a DataFrame
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)

# Step 2: View the column names
print("Original Column Names:")
print(df.columns)

# Step 3: Rename the columns using appropriate naming conventions
# Convert to lower case, replace white spaces with underscores, and replace 'st' with 'state'

df.columns = [col.lower().replace(' ', '_').replace('st', 'state') for col in df.columns]

# Verify the changes
print("\nCleaned Column Names:")
print(df.columns)

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [ ]:
import pandas as pd

# Step 1: Load the data
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)

# Step 2: Inspect column names
print("Column names in the DataFrame:")
print(df.columns)

# Step 3: Convert column names to standard format
df.columns = [col.strip().lower().replace(' ', '_') for col in df.columns]
print("\nStandardized Column names in the DataFrame:")
print(df.columns)

# Step 4: Standardize Gender values
df['gender'] = df['gender'].replace({
    'female': 'F', 'femal': 'F', 'f': 'F',
    'male': 'M', 'm': 'M'
})

# Step 5: Replace state abbreviations
state_mapping = {
    'st': {'az': 'Arizona', 'cali': 'California', 'wa': 'Washington'}
}
df['st'] = df['st'].str.lower().replace(state_mapping['st'])

# Step 6: Standardize Education values
df['education'] = df['education'].replace({
    'bachelors': 'Bachelor'
})

# Step 7: Remove '%' character from `customer_lifetime_value`
df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%', '')
df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(float)

# Step 8: Standardize Vehicle Class values
vehicle_class_mapping = {
    'sports_car': 'Luxury',
    'luxury_suv': 'Luxury',
    'luxury_car': 'Luxury'
}
df['vehicle_class'] = df['vehicle_class'].replace(vehicle_class_mapping)

# Verify the changes
print(df.head())

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [1]:
import pandas as pd

# Cargar los datos
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)

# Convertir nombres de columnas a formato estandarizado
df.columns = [col.strip().lower().replace(' ', '_') for col in df.columns]

# Estandarizar valores de género
df['gender'] = df['gender'].replace({
    'female': 'F', 'femal': 'F', 'f': 'F',
    'male': 'M', 'm': 'M'
})

# Reemplazar abreviaturas de estados
state_mapping = {
    'st': {'az': 'Arizona', 'cali': 'California', 'wa': 'Washington'}
}
df['st'] = df['st'].str.lower().replace(state_mapping['st'])

# Estandarizar valores de educación
df['education'] = df['education'].replace({
    'bachelors': 'Bachelor'
})

# Eliminar el carácter % de `customer_lifetime_value`
df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%', '')
df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(float)

# Estandarizar valores de clase de vehículo
vehicle_class_mapping = {
    'sports_car': 'Luxury',
    'luxury_suv': 'Luxury',
    'luxury_car': 'Luxury'
}
df['vehicle_class'] = df['vehicle_class'].replace(vehicle_class_mapping)

# Corregir formato de `number_of_open_complaints`
# Rellenar NaN temporariamente para convertir
df['number_of_open_complaints'] = df['number_of_open_complaints'].str.split('/').str[1].fillna(0).astype(int)

# Verificar los cambios
print(df.dtypes)
print(df.head())

customer                      object
st                            object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints      int32
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object
  customer          st gender             education  customer_lifetime_value  \
0  RB50392  washington    NaN                Master                      NaN
1  QZ44356     arizona      F              Bachelor                697953.59
2  AI49188      nevada      F              Bachelor               1288743.17
3  WW63253  california      M              Bachelor                764586.18
4  GA49547  washington      M  High School or Below                536307.65

    income  monthly_premium_auto  number_of_open_complaints     policy_type  \
0      0.0                1000.0                          0   Personal Auto
1      0.0                  94.0                          0   Personal Auto
2  48767.0                 108.0                          0   Personal Auto
3      0.0                 106.0                          0  Corporate Auto
4  36357.0                  68.0                          0   Personal Auto

   vehicle_class  total_claim_amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [2]:
import pandas as pd

# Cargar los datos
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)

# Convertir nombres de columnas a formato estandarizado
df.columns = [col.strip().lower().replace(' ', '_') for col in df.columns]

# Estandarizar valores de género
df['gender'] = df['gender'].replace({
    'female': 'F', 'femal': 'F', 'f': 'F',
    'male': 'M', 'm': 'M'
})

# Reemplazar abreviaturas de estados
state_mapping = {
    'st': {'az': 'Arizona', 'cali': 'California', 'wa': 'Washington'}
}
df['st'] = df['st'].str.lower().replace(state_mapping['st'])

# Estandarizar valores de educación
df['education'] = df['education'].replace({
    'bachelors': 'Bachelor'
})

# Eliminar el carácter % de `customer_lifetime_value`
df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%', '')
df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(float)

# Estandarizar valores de clase de vehículo
vehicle_class_mapping = {
    'sports_car': 'Luxury',
    'luxury_suv': 'Luxury',
    'luxury_car': 'Luxury'
}
df['vehicle_class'] = df['vehicle_class'].replace(vehicle_class_mapping)

# Corregir formato de `number_of_open_complaints`
df['number_of_open_complaints'] = df['number_of_open_complaints'].str.split('/').str[1].fillna(0).astype(int)

# Identificar columnas con valores nulos
null_counts = df.isnull().sum()
print("Número de valores nulos en cada columna:")
print(null_counts)

# Elegir estrategia de manejo de valores nulos
# Rellenar numéricos con la media
numerical_columns = df.select_dtypes(include=['float64', 'int']).columns
for column in numerical_columns:
    df[column] = df[column].fillna(df[column].mean())

# Rellenar categóricos con la moda
categorical_columns = df.select_dtypes(include=['object']).columns
for column in categorical_columns:
    df[column] = df[column].fillna(df[column].mode()[0])

# Verificar si hay valores nulos restantes
null_counts_post = df.isnull().sum()
print("Número de valores nulos en cada columna después de manejar los nulos:")
print(null_counts_post)


# Convertir todas las variables numéricas a enteros
df[numerical_columns] = df[numerical_columns].astype(int)

# Verificar los tipos de datos
print("\nTipos de datos después de la conversión:")
print(df.dtypes)
print(df.head())

Número de valores nulos en cada columna:
customer                     2937
st                           2937
gender                       3054
education                    2937
customer_lifetime_value      2940
income                       2937
monthly_premium_auto         2937
number_of_open_complaints       0
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64
Número de valores nulos en cada columna después de manejar los nulos:
customer                     0
st                           0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

Tipos de datos después de la conversión:
customer                     object
st                           object
gender                       object
education                    object
customer_lifetime_value       int32
income                        int32
monthly_premium_auto          int32
number_of_open_complaints     int32
policy_type                  object
vehicle_class                object
total_claim_amount            int32
dtype: object
  customer          st gender             education  customer_lifetime_value  \
0  RB50392  washington      F                Master                   793690
1  QZ44356     arizona      F              Bachelor                   697953
2  AI49188      nevada      F              Bachelor                  1288743
3  WW63253  california      M              Bachelor                   764586
4  GA49547  washington      M  High School or Below                   536307

   income  monthly_premium_auto  number_of_open_complaints     policy_type  \
0       0                  1000                          0   Personal Auto
1       0                    94                          0   Personal Auto
2   48767                   108                          0   Personal Auto
3       0                   106                          0  Corporate Auto
4   36357                    68                          0   Personal Auto

   vehicle_class  total_claim_amount
0  Four-Door Car                   2
1  Four-Door Car                1131
2   Two-Door Car                 566
3            SUV                 529
4  Four-Door Car                  17

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [3]:
import pandas as pd

# Paso previo: asegurarnos que el DataFrame está en el estado esperado
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)

# Convertir nombres de columnas a formato estándar (si no se hizo antes)
df.columns = [col.strip().lower().replace(' ', '_') for col in df.columns]

# Limpieza previa (si ya se ha hecho se puede omitir)
# ... código de la limpieza previa omitido por brevedad ...

# Identificar filas duplicadas
duplicated_rows = df.duplicated()
print("Número de filas duplicadas:", duplicated_rows.sum())

# Eliminar filas duplicadas, manteniendo solo la primera ocurrencia
df_cleaned = df.drop_duplicates(keep='first')

# Verificar si hay filas duplicadas restantes
post_duplicated_rows = df_cleaned.duplicated()
print("Número de filas duplicadas después de limpieza:", post_duplicated_rows.sum())

# Reiniciar el índice
df_cleaned.reset_index(drop=True, inplace=True)

# Guardar el DataFrame limpio en un nuevo archivo CSV
df_cleaned.to_csv('cleaned_data.csv', index=False)

# Verificación final
print("Número de filas totales después de limpieza:", len(df_cleaned))
print(df_cleaned.head())

Número de filas duplicadas: 2936
Número de filas duplicadas después de limpieza: 0
Número de filas totales después de limpieza: 1072
  customer          st gender             education customer_lifetime_value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    income  monthly_premium_auto number_of_open_complaints     policy_type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   vehicle_class  total_claim_amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [4]:
# Jupyter Notebook
%load_ext autoreload
%autoreload 2

import cleaning

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
cleaned_df = cleaning.main(url)
cleaned_df.to_csv('cleaned_data.csv', index=False)

print("Limpieza completada y datos guardados en 'cleaned_data.csv'")

Limpieza completada y datos guardados en 'cleaned_data.csv'

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [5]:
import pandas as pd

# Cargar el DataFrame limpio
df_cleaned = pd.read_csv('cleaned_data.csv')

# Revisar estadísticas descriptivas para total_claim_amount y customer_lifetime_value
print("Estadísticas descriptivas para 'total_claim_amount':")
print(df_cleaned['total_claim_amount'].describe())

print("\nEstadísticas descriptivas para 'customer_lifetime_value':")
print(df_cleaned['customer_lifetime_value'].describe())

# Calcular los percentiles necesarios
total_claim_amount_75th = df_cleaned['total_claim_amount'].quantile(0.75)
customer_lifetime_value_25th = df_cleaned['customer_lifetime_value'].quantile(0.25)

# Filtrar clientes
high_claim_low_clv = df_cleaned[
    (df_cleaned['total_claim_amount'] > total_claim_amount_75th) &
    (df_cleaned['customer_lifetime_value'] < customer_lifetime_value_25th)
]

# Obtener estadísticas descriptivas para los clientes con alta reclamación y baja CLV
print("\nEstadísticas descriptivas para clientes con alta reclamación y baja CLV:")
print(high_claim_low_clv[['total_claim_amount', 'customer_lifetime_value']].describe())

Estadísticas descriptivas para 'total_claim_amount':
count    1072.000000
mean      404.527985
std       292.905011
min         0.000000
25%       201.750000
50%       354.500000
75%       532.000000
max      2893.000000
Name: total_claim_amount, dtype: float64

Estadísticas descriptivas para 'customer_lifetime_value':
count    1.072000e+03
mean     7.936898e+05
std      6.422756e+05
min      2.004350e+05
25%      4.054045e+05
50%      5.888340e+05
75%      8.937668e+05
max      5.816655e+06
Name: customer_lifetime_value, dtype: float64

Estadísticas descriptivas para clientes con alta reclamación y baja CLV:
       total_claim_amount  customer_lifetime_value
count           40.000000                40.000000
mean           723.300000            341577.425000
std            149.216449             56921.466178
min            537.000000            228759.000000
25%            632.750000            304220.500000
50%            685.000000            365995.000000
75%            799.000000            387364.000000
max           1185.000000            402381.000000